<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>min</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-100">
    <div class=" bg- p-5 text-2xl drop-shadow-2xl  rounded-2xl bg-teal-100  self-center  top-0 absolute left-0 right-0 bottom-0 w-max h-max block m-auto ">
        <form name="formurl" id="formurl" action="/" method="post">
            <label for="url" class="text-emerald-400 font-bold ">URL</label>
            <input  type="text" name="url" id="url" class="text-right text-lg p-1 rounded-lg" placeholder="https://">
            <button type="submit" class="block text-emerald-100 font-semibold  bg-teal-300 hover:bg-teal-500 drop-shadow-2xl text-sm p-2 hover:text-white  w-full my-2">Shorten URL ✂️</button>
        </form>
        <!-- <button onclick="print()">print </button> -->
      
        <div id="reply" class="text-center my-6">
            <span id="shortlink" class=" bg-teal-200 p-2 float-left text-sm">
                
                    <%= shortURL %>
                  
            </span>
            <button  id="copy" onclick="copyURL()"  class="float-right inline text-teal-700 font-semibold  bg-teal-300 hover:bg-teal-500 drop-shadow-2xl text-sm hover:text-white p-2  my-2">Copy URL</button>
        </div>
   
    </div>
    <script>
        const copyBtn = document.getElementById('copy');
        function send(event){
            event.preventDefault();
            const object = {
                url:document.getElementById('url').value
            }
            fetch('/',{
                method:"POST",
                headers: {
                'Content-Type': 'application/json',
                     },
                body:JSON.stringify(object)     
            }).then((res)=>console.log('success'))
            .catch((err)=>console.log(err));
        } 
        function copyURL(){
         navigator.clipboard.writeText(document.getElementById('shortlink').innerHTML)
         .then(()=>{
            copyBtn.innerHTML = 'Copied  !'
         })   
        }
    </script>
</body>
</html>